<% layout('/layouts/boilerplate') %>
<br>
<h1 class="listing-title-show  md-3 mt-3"><%= listing.title %></h1>
<div class="card show-card mx-auto">
    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-image">
    <div class="card-body show-body">
        <p class="card-text listing-title-text"><%= listing.title %></p>
        <p class="card-text listing-price">&#8377;<%= listing.price.toLocaleString("en-IN") %> /Night</p>
        <p class="card-text listing-description"><%= listing.description %></p>

        <!-- Flexbox row for location and icon -->
        <div class="d-flex location-container">
            <i class="fa-solid fa-location-dot location-icon"></i>
            <p class="card-text location-text"><%= listing.location %>, <%= listing.country %></p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between button-row mt-4">
    <!-- Edit Button -->
    <div class="button-col flex-fill ">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary new-btn w-100">Edit this listing</a>
    </div>

    <!-- Delete Button -->
    <div class="button-col flex-fill">
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button type="submit" class="btn btn-danger del-btn w-100">Delete this Listing</button>
        </form>
    </div>
    <br>
    <br>
    <br>
  

</div>
