<% layout('/layouts/boilerplate') %>
<br>
<h1 class="listing-title-show  listing-title-text md-3 mt-3"><%= listing.title %></h1>
<div class="card show-card mx-auto">
    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-image">
    <div class="card-body show-body">
        <p class="card-text listing-price">&#8377;<%= listing.price.toLocaleString("en-IN") %> /Night</p>
        <p class="card-text listing-description"><%= listing.description %></p>

        <!-- Flexbox row for location and icon -->
        <div class="d-flex location-container">
            <i class="fa-solid fa-location-dot location-icon"></i>
            <p class="card-text location-text"><%= listing.location %>, <%= listing.country %></p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between button-row mt-4">
    <!-- Edit Button -->
    <div class="button-col flex-fill ">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary new-btn w-100">Edit this listing</a>
    </div>

    <!-- Delete Button -->
    <div class="button-col flex-fill">
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button type="submit" class="btn btn-danger del-btn w-100">Delete this Listing</button>
        </form>
    </div>
</div>
    <br>
    <br>
    <hr>
    <hr>
    <div class="review col-8 offset-3 mb-4">
        <h4>Leave a Review</h4>
        <form action="/listings/<%=listing._id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating: <span id="ratingValue">3</span></label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" value="3">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="reviewcomment" cols="30" rows="4" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please add some comments
                </div>
            </div>
          
            <button class="mt-3 btn btn-primary new-btn w-100">Submit</button>
        </form>

        <hr>
      <p> <b> <i> All Reviews</i></b></p>
      <div class="row">
        <% for (review of listing.reviews) { %>
          <div class="col-md-6 mb-3">
            <div class="card reviewCard h-100">
              <div class="card-body">
                <h5 class="card-title">John</h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text">
                  <% for (let i = 0; i < review.rating; i++) { %>
                    <i class="fa-solid fa-star"></i>
                  <% } %>
                  <% for (let i = review.rating; i < 5; i++) { %>
                    <i class="fa-regular fa-star"></i>
                  <% } %>
                </p>
              </div>
              <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">

                <button class="btn btn-sm del-btn">Delete</button>
            </form>
            </div>
           
          </div>
        <% } %>

      </div>
      </div>
      
    
    <script>
        const ratingInput = document.getElementById("rating");
        const ratingValue = document.getElementById("ratingValue");
    
        ratingInput.addEventListener("input", function() {
            ratingValue.textContent = this.value;
        });
    </script>
    
 <br>
 <br>
 <br>
  


